@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1>TIY Sports</h1><p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>  For the students of The Iron Yard
           </div><div class="col-md-4"><img src="~/images/sports.jpg" class="img-circle" alt="Sports" width="180" height="180"> </div>
    </div>
</div>
<div class="col-md-12 text-center"></div>

<div class="carousel slide" id="myCarousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="row">
                <div class="col-xs-3"><a href="#"><img src="~/images/cohort7.jpg" class="img-responsive"></a></div>
                <div class="col-xs-3"><a href="#"><img src="~/images/baseball1.jpg" class="img-responsive"></a></div>
                <div class="col-xs-3"><a href="#"><img src="~/images/basketball1.jpg" class="img-responsive"></a></div>
                <div class="col-xs-3"><a href="#"><img src="~/images/quidditch1.jpg" class="img-responsive"></a></div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-xs-3"><a href="#"><img src="~/images/golf1.jpg" class="img-responsive"></a></div>
                <div class="col-xs-3"><a href="#"><img src="~/images/football1.jpg" class="img-responsive"></a></div>
                <div class="col-xs-3"><a href="#"><img src="~/images/swimming1.jpg" class="img-responsive"></a></div>
                <div class="col-xs-3"><a href="#"><img src="~/images/pingpong1.jpg" class="img-responsive"></a></div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
<div>
    <br />
    <br />


</div>

<div class="panel panel-warning">
    <div class="panel-heading">NEW FEATURES</div>
    <div class="panel-body">We have added some brand new features coming in version 2.0 <a href="mailto:Marketing@example.com">Learn More</a></div>
</div>
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-10">
                        <h4><span class="glyphicon glyphicon-circle-arrow-right"></span> Teams</h4>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-default pull-right">
                            <span class="glyphicon glyphicon-star-empty"></span> 317 Teams
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="~/images/dartboard.png" class="img-rounded img-responsive" alt="" />
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
                                        Tampa Bay Dynamos 
                                    </a> <button class='btn btn-primary pull-right btn-xs'>8 players</button>

                                    <div class="mic-info">
                                        A football team is the collective name given to a group of players selected together in the various team sports known as football.
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Awesome design
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="~/images/pingpong2.jpg" class="img-rounded img-responsive" alt="" />
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
                                        Florida Grassroots Table Tennis
                                    </a> <button class='btn btn-primary pull-right btn-xs'>8 players</button>

                                    <div class="mic-info">
                                        The FLGTTA, Florida Grassroots Table Tennis Association, was created from the passion that our coaches have to bring this wonderful lifetime sport to everyone. 
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Awesome design
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="~/images/diving.jpg" class="img-rounded img-responsive" alt="" />
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
                                        St Pete Splashers
                                    </a> <button class='btn btn-primary pull-right btn-xs'>8 players</button>

                                    <div class="mic-info">
                                        What a great weekend for #tbaynation! TBAY finished 3rd overall at this past weekend Spring Florida Age Group Championship in Stuart, Florida!
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Awesome design
                                </div>
                            </div>
                        </div>
                    </li>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col col-lg-12">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading"><h5><span class="glyphicon glyphicon-check"></span> Games</h5></div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-check"></th>
                        <th>#</th>
                        <th>Hometeam</th>
                        <th>Awayteam</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success">
                        <td class="col-check"><input type="checkbox" class="form-check-input"></td>
                        <td>1</td>
                        <td>Tampa Bay Dynamos</td>
                        <td>Florida Freckles</td>
                        <td>2 - 3</td>
                    </tr>
                    <tr class="text-muted">
                        <td class="col-check"><input type="checkbox" class="form-check-input"></td>
                        <td>2</td>
                        <td>Florida Grassroots Table Tennis</td>
                        <td>St. Augestine Ping-Pongers</td>
                        <td>88 - 66</td>
                    </tr>
                    <tr class="text-muted">
                        <td class="col-check"><input type="checkbox" class="form-check-input"></td>
                        <td>3</td>
                        <td>St Pete Splashers</td>
                        <td>Florida Flippers</td>
                        <td>2 - 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>